<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .form-container{
            margin:auto;
            width:90vw;
            display : flex;
            flex-direction:column;
        }
    </style>
    <meta charset="UTF-8">
    <title>New Blog</title>
</head>
<body>
    <h1 style="text-align:center">New/Edit post</h1>
    <form th:action="@{/}" method="post" class="form-container">
        <input placeholder="Title" name="title" type="text"/><br>
        <input placeholder="Tags" name="allTags" type="text"/><br>
        <textarea name="content" rows="40"></textarea><br>
        <button style="align-self:center" type="submit" name="isPublished" value="0">Save</button><br>
        <button style="align-self:center" type="submit" name="isPublished" value="1">Publish</button>
    </form>
</body>
</html>